a {
    text-decoration: none !important;
}

.project, .title{
    text-align:right;
    padding-right:2%;
    font-variant: small-caps;
    letter-spacing: 0.1rem;
    color:#034EA2;
    display:block;
}
.sideMenu{
    position: absolute;
    top: -5px;
    left: 10px;
}
.header {
    position: relative;
    top: 0;
    left: 0;
    background-color: #dee2e3;
    background-color: #ffffff;
    width: 100%;
    height: 40px;
    border-bottom:solid 0.5px #034EA2;
}

.logo {
    height: 2rem;
    margin-right:1.5rem;
    margin-top:.3rem;
    object-fit: contain;
    background-color: transparent;
    float:right;
}

.homeIcon {
    position: absolute;
    top: 8px;
    left: 8.2%;
    width: 24.6px;
    height: 21.9px;
    object-fit: contain;
    background-color: transparent;
}

.homeText {
    position: relative;
    top: 7px;
    left: 11%;
    width: 135px;
    height: 20px;
    object-fit: contain;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.4px;
    text-align: left;
    color: #034EA2 !important;
    text-decoration: none !important;
}

.ellipse-9 {
    position: relative;
    left: 88%;
    top: 10px;
    width: 21px;
    height: 21px;
    object-fit: contain;
    background-color: transparent;
}

.helpIcon {
    position: relative;
    left: 86.7%;
    top: 5px;
    font-size: 12.5px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: 1.79px;
    object-fit: contain;
    background-color: transparent;
    visibility: hidden;
}

.bellIcon {
    position: relative;
    left: 92%;
    top: 10px;
    width: 15.8px;
    height: 18.4px;
    object-fit: contain;
    background-color: transparent;
}

.clientLogo{
    float:left;
    height:2.5rem;
    padding-left:1.5%;
    display:none;
}

.loginMenu{
    display:none;
}